{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Player</title>
    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mediaelement/4.2.7/mediaelementplayer.min.css" rel="stylesheet"/>
    <link href="{% static 'style.css' %}" rel="stylesheet"/>
  
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
</head>
<body>
    {% include 'main.html' %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mediaelement/4.2.7/mediaelement-and-player.min.js">
    </script>

    <script src="{% static './script.js' %}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const audio = document.getElementById('fc-media');
            const funFactContainers = document.getElementById('facts');
            let currentFactIndex = 0;

            const funFacts = JSON.parse(document.getElementById('facts').getAttribute('data-facts'));

            function changeFunFact() {
                funFactContainers.innerText = funFacts[currentFactIndex].fun_fact;
                currentFactIndex++;
            }

            setInterval(changeFunFact, 15000);
        });
    </script>

</body>
</html>